<div id="formWrapper">

    <form action="/contact" id="contactForm" method="post" role="form">
        
        <fieldset>

            <legend>Send me a message/inquiry or even a joke.</legend>

            <div class="formItem">
            
                <label for="name">Name:</label>
                <input id="name" placeholder="Enter Your Name Here" type="text" required>
            
            </div>
            
            <div class="formItem">

                <label for="email">Email:</label>
                <input id="email" placeholder="Enter Your Email Here" type="text" required>

            </div>
            
            <div id="details" class="formItem">

                <label for="details">Details:</label>
                <input id="details" placeholder="Enter Your Details Here" type="text" required>

            </div>



            <div class="formItem">

                <label for="message">Message:</label>
                <textarea id="message" placeholder="Enter Your Message Here" rows="4" cols="40" required></textarea>

            </div>

            <button type="submit">Submit</button>

        </fieldset>

    </form>

</div>