<nav id="bottomMenuNav">

    <ul class="bottomMenuItems">
    
        <li class="bottomMenuItem hov"><a href="#">Dive In</a>

            <ul class="subMenu">
        
                <li class="bottomMenuItem"><a href="/about">About</a></li>

                <li class="bottomMenuItem"><a href="#">Experience</a></li>
            
            </ul>

        </li>
        
        <li class="bottomMenuItem"><a href="/portfolio">Portfolio</a></li>

        <li class="bottomMenuItem"><a href="/skills">Skills</a></li>
        
        <li class="bottomMenuItem"><a href="/contact">Contact</a></li>
    
    </ul>

</nav>