<nav id="bottomMenuNav">

    <ul class="bottomMenu">
    
        <li class="bottomMenuItem"><a href="/about">About</a></li>
        
        <li class="bottomMenuItem"><a href="/portfolio">Portfolio</a></li>

        <li class="bottomMenuItem"><a href="/skills">Skills</a></li>
        
        <li class="bottomMenuItem"><a href="/contact">Contact</a></li>
    
    </ul>

</nav>