<nav id="topMenuNav">

        <ul class="topName">

            <li class="topMenuItem"><a href="/">Chad Jessen | Full Stack Web Dev</a></li>

        </ul>

        <ul class="topMenuItems">
        
            <li class="topMenuItem"><a href="/">Home</a></li>

            <li class="topMenuItem hov"><a href="#">Dive In</a>

                <ul class="subMenu">

                    <li class="topMenuItem"><a href="/about">About</a></li>
                    
                    <li class="topMenuItem"><a href="#">Experience</a></li>

                </ul>

            </li>
            
            <li class="topMenuItem"><a href="/portfolio">Portfolio</a></li>
            
            <li class="topMenuItem"><a href="/skills">Skills</a></li>
            
            <li class="topMenuItem"><a href="/contact">Contact</a></li>

        </ul>
    
</nav>


<!-- <nav id="topMenuNav">

    <div id="portfolio">

        <ul class="topMenu">

            <li class="topMenuItem topMenuItemName"><a href="/">Chad Jessen</a></li>

        </ul>

    </div>

    <div id="menuItems">

        <ul class="topMenu">
        
            <li class="topMenuItem"><a href="/">Home</a></li>

            <li class="topMenuItem"><a href="/about">About</a></li>
            
            <li class="topMenuItem"><a href="/portfolio">Portfolio</a></li>
            
            <li class="topMenuItem"><a href="/skills">Skills</a></li>
            
            <li class="topMenuItem"><a href="/contact">Contact</a></li>

        </ul>
    
    </div>
    
</nav> -->