<nav id="topMenuNav">
    <ul class="topMenu">

        <div id="portfolio">
    
            <li class="topMenuItem"><a href="/">Chad Jessen's Portfolio</a></li>
    
        </div>

        <div id="menuItems">
            
            <li class="topMenuItem"><a href="/">Home</a></li>

            <li class="bottomMenuItem"><a href="/about">About Me</a></li>
            
            <li class="topMenuItem"><a href="#">Projects</a></li>
            
            <li class="topMenuItem"><a href="#">Technologies</a></li>
            
            <li class="topMenuItem"><a href="#">Contact</a></li>
        
        </div>
    
    </ul>
</nav>