<nav id="topMenuNav">
    <ul class="topMenu">

        <div id="portfolio">
    
            <li class="topMenuItem">Chad Jessen's Portfolio</li>
    
        </div>

        <div id="menuItems">
            
            <li class="topMenuItem"><a href="/">Home</a></li>
            
            <li class="topMenuItem"><a href="#">Projects</a></li>
            
            <li class="topMenuItem"><a href="#">Contact</a></li>
        
        </div>
    
    </ul>
</nav>