<nav id="topMenuNav">
    <ul class="topMenu">

        <div id="portfolio">
    
            <li class="topMenuItem topMenuItemName"><a href="/">Chad Jessen</a></li>
    
        </div>

        <div id="menuItems">
            
            <li class="topMenuItem"><a href="/">Home</a></li>

            <li class="bottomMenuItem"><a href="/about">About</a></li>
            
            <li class="topMenuItem"><a href="#">Portfolio</a></li>
            
            <li class="topMenuItem"><a href="/skills">Skills</a></li>
            
            <li class="topMenuItem"><a href="#">Contact</a></li>
        
        </div>
    
    </ul>
</nav>