@import url('global.css');

html {
    background: url('/images/indexBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#name {
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(222, 13%, 85%);
    animation-name: name;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes name {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#subtitle {
    font-size: 1em;
    font-weight: bold;
    color: hsl(222, 13%, 85%);
    margin-top: 1em;
    opacity: 0;
    animation-name: subtitle;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes subtitle {
    100% {
        opacity: 1;
    }
}

#socialMedia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0 0 0;
    opacity: 0;
    animation-name: socialMedia;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes socialMedia {
    100% {
        opacity: 1;
    }
}

.socialMediaIcon {
    width: 15%;
}

@media (min-width: 481px) {
    #name {
        font-size: 3em;
    }

    #subtitle {
        font-size: 1.25em;
    }

    .socialMediaIcon {
        width: 20%;
    }
}

@media (min-width: 1025px) {
    #name {
        font-size: 4em;
    }

    #subtitle {
        font-size: 1.5em;
    }

    .socialMediaIcon {
        width: 25%;
    }
}

@media (min-width: 1201px) {
    #name {
        font-size: 5em;
    }

    #subtitle {
        font-size: 2em;
    }

    .socialMediaIcon {
        width: 30%;
    }
}