@import url('global.css');

body {
    background-color:  	hsl(213, 15%, 88%);
    line-height: 1.25rem;
}

#menuItems {
    display: none;
}

#bottomMenuNav {
    animation-delay: 1.5s;
}

@media (min-width: 768px) {
    #menuItems {
        display: flex;
    }

    #bottomMenuNav {
        display: none;
    }
}