<div id="wrapper">

    <div id="name">
        Chad Jessen
    </div>

    <div id="subtitle">
        Full Stack Web Developer
    </div>

    <div id="socialMedia">
        <img class="socialMediaIcon" src="/images/github.png" alt="Github social media link">
        <img class="socialMediaIcon" src="/images/linkdin.png" alt="LinkdIn social media link">
        <img class="socialMediaIcon" src="/images/facebook.png" alt="Facebook social media link">
    </div>

</div>

