<div id="wrapper">

    <div id="name">
        Chad Jessen's Portfolio
    </div>

    <div id="subtitle">
        Full Stack Web Developer
    </div>

</div>

<nav>
    <ul class="mobileMenu">
        <li class="mobileMenuItem"><a href="#">About Me</a></li>
        
        <li class="mobileMenuItem"><a href="#">Projects</a></li>
        
        <li class="mobileMenuItem"><a href="#">Contact</a></li>
    </ul>
</nav>