<div id="content">

<h1>IT Experience</h1>

<hr />

<h2>CSI Computers</h2>

<h3>IT Technician</h3>

<p>Responsible for servicing PCs, servers, networks and setting up cable modems.  Work with customers directly or over the phone to solve issues.  Install networks, cabling to setting up computers and servers.</p>

<hr />

<h2>Newman Signs</h2>

<h3>IT Administrator</h3>

<p>Responsible for servers, backups, network, PC, and software support.  Manage and maintain 3Com phone switch.  Research new technology and make recommendations on upgrades and issues that arise.  Work with associates directly or over the phone to solve issues.</p>

<hr />

</div>