<div id="experienceContent">

<h1>IT Experience</h1>

<hr />

<h2>CSI Computers</h2>

<h3>IT Technician</h3>

<ul class="duties">
    <li>Service PCs</li>
    <li>Service servers</li>
    <li>Install/maintain networks, network cabling, computers and servers</li>
    <li>Setup cable modems in residential and businesses</li>
    <li>Work with customers directly and/or over the phone</li>
</ul>

<hr />

<h2>Newman Signs</h2>

<h3>IT Administrator</h3>

<ul class="duties">
    <li>Maintain/support servers, backups, network, PC, and software</li>
    <li>Manage/maintain 3com phone switch</li>
    <li>Research new technology/software and make recommendations on upgrades</li>
    <li>Work with associates directly and/or over the phone to solve issues</li>
</ul>

<hr />

<h2>Upstream LLC</h2>

<h3>IT Support</h3>

<ul class="duties">
    <li>Maintain/support server backups, network, PCs and software</li>
    <li>Manage/maintain Avaya phone switch</li>
    <li>Manage/support Nice System servers, their backups and the desktop application</li>
</ul>

<hr />

<h2>BISYS</h2>

<h3>IT Support</h3>

<ul class="duties">
    <li>Troubleshoot/repair computers and HP Laserjet/Inkjet printers</li>
    <li>Maintain/support Meridian Phone System</li>
    <li>Maintain Microsoft Operating Systems and Novell Netware clients on workstations</li>
</ul>

<hr />

<h2>Computer Network Systems</h2>

<h3>Partner | Owners</h3>

<p>Contract work : Network and telephone cabling, Database programming, Y2K compliance testing, PC and printer troubleshooting and repair, Remote access.</p>

<hr />

<h2>Pro Systems Corporation</h2>

<h3>Technician | Computer Service Representative</h3>

<ul class="duties">
    <li>Troubleshoot/build computer systems</li>
    <li>Sell computers and related items</li>
    <li>Invoice customers</li>
    <li>Maintain store inventory</li>
</ul>

</div>