<div id="aboutWrapper">
        
    <div id="aboutDiv">
        <img id="aboutPhoto" src="/images/family.jpg" alt="" srcset="">
    </div>

    <div id="aboutDesc">
        <p>I am a nurse of six and a half years. The last three years I have been a Travel Registered Nurse. My family travels with me. We have had the opportunity to experience parts of Alaska to the eastern seaboard. Throughout my career, I have been working on and helping others with websites. I started to learn more web development languages and have found that I have a deep passion and joy for web development. I enjoy creating new sites as well as troubleshooting and improving existing sites/technologies. I look forward to making my new found passion into a lifelong career. </p>
    </div>

</div>