<div id="aboutWrapper">
        
    <div id="aboutDivPhoto">
        <img id="aboutPhoto" src="/images/family1.jpg" alt="" srcset="">
    </div>

    <div id="aboutDesc">
        
        <p>Here you are, ready to read about me. This is about my family as well. I wouldn’t be where I am today without them. Although, my journey begins before my wife (Holly) and daughter (Avery), they play a major role in where I am today with their support throughout my journey. I started out my 20+ years of experience in the IT field after high school. I have held various jobs in the past and even those not related to IT, I have maintained companys' servers and performed troubleshooting when needed.</p>

        <p>During those years, I met my wife online. We grew to know each other better and we were married in July of 2004. She is an outstanding journalist and writer. My wife currently does freelance writing from home while raising our daughter. Our daughter was born in 2013 towards the end of my LPN schooling. I started out as a CNA in a hospital and decided to go to school for nursing. It was very hard raising a child, working, and completing school to achieve my RN. Holly worked fulltime while Avery went to daycare. After I became an RN, we decided to travel nurse, which would allow us to see different parts of the U.S. and Holly would be able to be a stay-at-home mom. Don’t be fooled by the stay-at-home part, my wife did a phenomenal job of making sure our daughter experienced the different areas we were living in while travelling. I believe it is fair to say that my daughter has experience more in that amount of time than most adults have in their whole life.</p>

        <p>That leads us to where we are now. I have been a nurse for eight years, 10 years doing bedside care. Throughout my life, no matter what job or where I was located, I would always work on webpages. I would either make a webpage for myself or for others. I have found that I absolutely love building websites. I have also learned through learning that I love working on Full Stack projects. I love to know how everything works in the back end and making it work on the front-end for those that are using the created product.</p>

        <p>This site is a full-stack website using Nodejs and express along with other npm packages. I believe that fast, simple, and easy to use sites are what people are looking for in their daily lives. We have all experienced those sites where you are looking and looking and clicking to try to find that one spot to submit something or to choose something to put in the cart and you get frustrated because, well why isn’t it easier to do what I want to do? Keeping things simple, easy to navigate and find is my main goal when I start to work on a website for someone.</p>

        <p>Thank you for going on this journey with me. I look forward to transitioning into a development career and the challenges that it has to offer. I love how I can sit down and start programing and when I look up and realize that six hours have passed, I still want to continue programing and learning. I look forward to taking my passion and using it for continous learning and more from what this career has to offer.</p>
    
    </div>

</div>